.arrow {
  margin-top: -39px;
}

.arrow .arrow-white {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 24px solid;
  color: #fff;
  display: block;
  height: 0;
  margin: 0 auto;
  width: 0;
}