.ez-hero-overlying {
  margin-top: -2rem;
  .card-text {
    padding: 0 10rem;
  }
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .ez-hero-overlying {
    margin-top: -5rem;
  }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
  .ez-hero-overlying {
    .card-text {
      padding: 0 2rem;
    }
  }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
  .ez-hero-overlying {
    .card-text {
      padding: 0;
    }
  }
}

// Search bar //
.hero-search-bar {
  position: relative;
  bottom: -12rem;

  input {
    border-bottom: none !important;
  }

  .input-group-text {
    border-bottom: none !important;
  }
}

@media (max-width: #{map-get($grid-breakpoints, lg)}) {

  .hero-search-bar {
    bottom: 0;
  }

}

